// Hompepage //////////////////////////////

#features .row {
  margin-top: 7em;

  img {
    width: 100%;
    height: auto;
    border: 1px solid #DDD;
    max-width: 380px;
  }
}

.container .jumbotron,
.container-fluid .jumbotron {
  background-color: transparent;
  border: none;
  padding: 48px 10px;

  .row > div {
    padding: 0 2em;
  }
}

@media (min-width: @screen-md-min) {
  .row > div {
    padding: 1em 4em;
  }
}

@media (max-width: @screen-xs-max) {
  #features p {
      padding-bottom: 2em;
  }
}
