@import url("//fonts.googleapis.com/css?family=Merriweather:400,900|PT+Serif");
/* line 17, ../../../../../../../home/jehan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../home/jehan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../home/jehan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../home/jehan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../home/jehan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../home/jehan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../home/jehan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../home/jehan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../home/jehan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 34, ../sass/screen.scss */
body {
  font-size: 16px;
  color: #777777;
  font-family: "Merriweather", sans-serif;
  line-height: 1.7em;
}

/* line 41, ../sass/screen.scss */
ol, ul {
  margin: 1em 0;
  padding-left: 2em;
}

/* line 46, ../sass/screen.scss */
ol {
  list-style-type: decimal;
}

/* line 50, ../sass/screen.scss */
li {
  margin-bottom: 0.5em;
}

/* line 54, ../sass/screen.scss */
.clearfix {
  *zoom: 1;
}
/* line 38, ../../../../../../../home/jehan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 58, ../sass/screen.scss */
.list {
  list-style-type: circle;
}

/* line 62, ../sass/screen.scss */
blockquote, q {
  quotes: none;
}

/* line 67, ../sass/screen.scss */
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 73, ../sass/screen.scss */
input, textarea, select {
  font-family: "myriad-pro", sans-serif;
  font-size: 1em;
  display: inline-block;
  box-sizing: border-box;
  padding: 6px 6px;
  margin-bottom: 9px;
  color: #777777;
  background-color: white !important;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  -webkit-transition: "box-shadow,-moz-box-shadow,-webkit-box-shadow" 0.6s ease;
  -moz-transition: "box-shadow,-moz-box-shadow,-webkit-box-shadow" 0.6s ease;
  -o-transition: "box-shadow,-moz-box-shadow,-webkit-box-shadow" 0.6s ease;
  transition: "box-shadow,-moz-box-shadow,-webkit-box-shadow" 0.6s ease;
}
/* line 85, ../sass/screen.scss */
input:focus, textarea:focus, select:focus {
  outline: 0;
  border: 1px solid #959595;
  -webkit-box-shadow: inset 1px 1px 6px -2px #959595;
  -moz-box-shadow: inset 1px 1px 6px -2px #959595;
  box-shadow: inset 1px 1px 6px -2px #959595;
}
/* line 90, ../sass/screen.scss */
input.error, textarea.error, select.error {
  background-image: url("../images/delete_4.png");
  background-position: 98% center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border: 1px solid #bd5862;
}

/* line 100, ../sass/screen.scss */
label.error {
  display: block;
  background: rgba(200, 34, 12, 0.1);
  border-radius: 4px;
  color: #bd5862;
  font-size: 0.9em;
  margin-top: 0em;
  margin-bottom: 0.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-bottom: 0 !important;
}

/* line 124, ../sass/screen.scss */
select {
  padding: 4px 8px;
}

/* line 129, ../sass/screen.scss */
br {
  margin: 0;
}

/* line 134, ../sass/screen.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 140, ../sass/screen.scss */
p {
  margin: 0 0 1em;
}

/* line 144, ../sass/screen.scss */
code {
  background-color: #f4f4f4;
  font-family: Menlo, "Panic Sans", monospace;
  font-size: 0.875em;
}

/* line 150, ../sass/screen.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 155, ../sass/screen.scss */
strong {
  font-weight: bold;
}

/* line 159, ../sass/screen.scss */
em, .em {
  font-style: italic;
}

/* line 163, ../sass/screen.scss */
.strong {
  font-weight: bold;
}

/* line 167, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "myriad-pro", sans-serif;
  line-height: 1.2em;
  margin: 1em 0 0.4em;
  padding: 0 0 0.1em;
  color: #777777;
}

/* line 175, ../sass/screen.scss */
h1 {
  font-size: 2.5em;
  border-bottom: 1px solid #e0e0e0;
}

/* line 181, ../sass/screen.scss */
h2 {
  font-size: 2em;
  border-bottom: 1px solid #e0e0e0;
}

/* line 187, ../sass/screen.scss */
h3 {
  font-size: 1.7em;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}

/* line 193, ../sass/screen.scss */
h4 {
  font-size: 1.25em;
  margin: 0 0 0.1em;
}

/* line 198, ../sass/screen.scss */
h5, h6 {
  font-size: 1em;
  margin: 0 0 0.1em;
}

/* line 204, ../sass/screen.scss */
a {
  color: #bd5862;
  -webkit-transition: color 0.2s ease-in;
  -webkit-transition-delay: 0.2s;
  -moz-transition: color 0.2s ease-in 0.2s;
  -o-transition: color 0.2s ease-in 0.2s;
  transition: color 0.2s ease-in 0.2s;
  text-decoration: underline;
}
/* line 208, ../sass/screen.scss */
a:active {
  text-decoration: none;
}
/* line 211, ../sass/screen.scss */
a:hover {
  color: #bd1c2b;
}
/* line 213, ../sass/screen.scss */
a:hover > * {
  color: #bd1c2b;
}
/* line 217, ../sass/screen.scss */
a.no_ul {
  text-decoration: none;
}
/* line 220, ../sass/screen.scss */
a > * {
  color: #bd5862;
}

/* line 225, ../sass/screen.scss */
img {
  max-width: 100%;
}

/* line 229, ../sass/screen.scss */
.noborder {
  border: none;
}

/* line 233, ../sass/screen.scss */
hr {
  border: none;
  margin: 0;
  position: relative;
  background-color: #e0e0e0;
  height: 1px;
}

/* line 241, ../sass/screen.scss */
.spacer {
  height: 3em;
}

/* line 246, ../sass/screen.scss */
.paper {
  padding: 0.5em;
  margin-bottom: 1em;
  -webkit-box-shadow: 1px 3px 10px #dddddd;
  -moz-box-shadow: 1px 3px 10px #dddddd;
  box-shadow: 1px 3px 10px #dddddd;
}

/* line 253, ../sass/screen.scss */
.paper blockquote {
  position: relative;
  font-family: "Merriweather";
  font-size: 1em;
  margin-left: 1em;
  margin-right: 0.5em;
  margin-bottom: 0;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 265, ../sass/screen.scss */
.paper blockquote > p:last-child {
  margin-bottom: 0;
}

/* line 268, ../sass/screen.scss */
.paper blockquote:before {
  color: #eeeeee;
  content: "\201C";
  font-family: "PT Serif";
  font-size: 6em;
  position: absolute;
  top: 0.3em;
  left: -0.45em;
}

/* line 278, ../sass/screen.scss */
blockquote {
  position: relative;
  font-family: "Merriweather";
  font-size: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 1em;
  padding-left: 1.5em;
  -webkit-box-shadow: 1px 3px 10px #dddddd;
  -moz-box-shadow: 1px 3px 10px #dddddd;
  box-shadow: 1px 3px 10px #dddddd;
}

/* line 292, ../sass/screen.scss */
blockquote > p:last-child {
  margin-bottom: 0;
}

/* line 296, ../sass/screen.scss */
blockquote:before {
  color: #eeeeee;
  content: "\201C";
  font-family: "PT Serif";
  font-size: 6em;
  position: absolute;
  top: 0.35em;
  left: -0.2em;
}

/* line 309, ../sass/screen.scss */
#pagetainer {
  width: 600px;
  margin-left: 170px;
  height: 100%;
  background: white;
}

/* line 317, ../sass/screen.scss */
.row, .two_across, .three_across, .four_across, .five_across {
  clear: both;
  position: relative;
  *zoom: 1;
}
/* line 38, ../../../../../../../home/jehan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.row:after, .two_across:after, .three_across:after, .four_across:after, .five_across:after {
  content: "";
  display: table;
  clear: both;
}
/* line 321, ../sass/screen.scss */
.row > *:last-child, .two_across > *:last-child, .three_across > *:last-child, .four_across > *:last-child, .five_across > *:last-child {
  margin-right: 0;
  padding-right: 0;
}

/* line 327, ../sass/screen.scss */
.vertspace {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 348, ../sass/screen.scss */
.one_whole {
  width: 600px;
  float: left;
  height: auto;
  margin-right: 20px;
  margin-right: 0;
}
/* line 336, ../sass/screen.scss */
.one_whole.last {
  margin-right: 0;
  padding-right: 0;
}
/* line 340, ../sass/screen.scss */
.one_whole.right_float {
  margin-left: 20px;
  margin-right: 0;
  float: right;
  clear: none;
}

/* line 354, ../sass/screen.scss */
.one_half {
  width: 290px;
  float: left;
  height: auto;
  margin-right: 20px;
}
/* line 336, ../sass/screen.scss */
.one_half.last {
  margin-right: 0;
  padding-right: 0;
}
/* line 340, ../sass/screen.scss */
.one_half.right_float {
  margin-left: 20px;
  margin-right: 0;
  float: right;
  clear: none;
}

/* line 359, ../sass/screen.scss */
.one_third {
  width: 186.66667px;
  float: left;
  height: auto;
  margin-right: 20px;
}
/* line 336, ../sass/screen.scss */
.one_third.last {
  margin-right: 0;
  padding-right: 0;
}
/* line 340, ../sass/screen.scss */
.one_third.right_float {
  margin-left: 20px;
  margin-right: 0;
  float: right;
  clear: none;
}

/* line 364, ../sass/screen.scss */
.two_thirds {
  width: 393.33333px;
  float: left;
  height: auto;
  margin-right: 20px;
}
/* line 336, ../sass/screen.scss */
.two_thirds.last {
  margin-right: 0;
  padding-right: 0;
}
/* line 340, ../sass/screen.scss */
.two_thirds.right_float {
  margin-left: 20px;
  margin-right: 0;
  float: right;
  clear: none;
}

/* line 369, ../sass/screen.scss */
.one_fourth {
  width: 135px;
  float: left;
  height: auto;
  margin-right: 20px;
}
/* line 336, ../sass/screen.scss */
.one_fourth.last {
  margin-right: 0;
  padding-right: 0;
}
/* line 340, ../sass/screen.scss */
.one_fourth.right_float {
  margin-left: 20px;
  margin-right: 0;
  float: right;
  clear: none;
}

/* line 374, ../sass/screen.scss */
.two_fourths {
  width: 290px;
  float: left;
  height: auto;
  margin-right: 20px;
}
/* line 336, ../sass/screen.scss */
.two_fourths.last {
  margin-right: 0;
  padding-right: 0;
}
/* line 340, ../sass/screen.scss */
.two_fourths.right_float {
  margin-left: 20px;
  margin-right: 0;
  float: right;
  clear: none;
}

/* line 379, ../sass/screen.scss */
.three_fourths {
  width: 445px;
  float: left;
  height: auto;
  margin-right: 20px;
}
/* line 336, ../sass/screen.scss */
.three_fourths.last {
  margin-right: 0;
  padding-right: 0;
}
/* line 340, ../sass/screen.scss */
.three_fourths.right_float {
  margin-left: 20px;
  margin-right: 0;
  float: right;
  clear: none;
}

/* line 384, ../sass/screen.scss */
.one_fifth {
  width: 104px;
  float: left;
  height: auto;
  margin-right: 20px;
}
/* line 336, ../sass/screen.scss */
.one_fifth.last {
  margin-right: 0;
  padding-right: 0;
}
/* line 340, ../sass/screen.scss */
.one_fifth.right_float {
  margin-left: 20px;
  margin-right: 0;
  float: right;
  clear: none;
}

/* line 389, ../sass/screen.scss */
.two_fifths {
  width: 228px;
  float: left;
  height: auto;
  margin-right: 20px;
}
/* line 336, ../sass/screen.scss */
.two_fifths.last {
  margin-right: 0;
  padding-right: 0;
}
/* line 340, ../sass/screen.scss */
.two_fifths.right_float {
  margin-left: 20px;
  margin-right: 0;
  float: right;
  clear: none;
}

/* line 394, ../sass/screen.scss */
.three_fifths {
  width: 352px;
  float: left;
  height: auto;
  margin-right: 20px;
}
/* line 336, ../sass/screen.scss */
.three_fifths.last {
  margin-right: 0;
  padding-right: 0;
}
/* line 340, ../sass/screen.scss */
.three_fifths.right_float {
  margin-left: 20px;
  margin-right: 0;
  float: right;
  clear: none;
}

/* line 399, ../sass/screen.scss */
.four_fifths {
  width: 476px;
  float: left;
  height: auto;
  margin-right: 20px;
}
/* line 336, ../sass/screen.scss */
.four_fifths.last {
  margin-right: 0;
  padding-right: 0;
}
/* line 340, ../sass/screen.scss */
.four_fifths.right_float {
  margin-left: 20px;
  margin-right: 0;
  float: right;
  clear: none;
}

/* line 407, ../sass/screen.scss */
.two_across > * {
  width: 290px;
  float: left;
  height: auto;
  margin-right: 20px;
}
/* line 336, ../sass/screen.scss */
.two_across > *.last {
  margin-right: 0;
  padding-right: 0;
}
/* line 340, ../sass/screen.scss */
.two_across > *.right_float {
  margin-left: 20px;
  margin-right: 0;
  float: right;
  clear: none;
}
/* line 410, ../sass/screen.scss */
.two_across > *:nth-child(2n) {
  margin-right: 0;
  padding-right: 0;
}

/* line 419, ../sass/screen.scss */
.three_across > * {
  width: 186.66667px;
  float: left;
  height: auto;
  margin-right: 20px;
}
/* line 336, ../sass/screen.scss */
.three_across > *.last {
  margin-right: 0;
  padding-right: 0;
}
/* line 340, ../sass/screen.scss */
.three_across > *.right_float {
  margin-left: 20px;
  margin-right: 0;
  float: right;
  clear: none;
}
/* line 422, ../sass/screen.scss */
.three_across > *:nth-child(3n) {
  margin-right: 0;
  padding-right: 0;
}

/* line 431, ../sass/screen.scss */
.four_across > * {
  width: 135px;
  float: left;
  height: auto;
  margin-right: 20px;
}
/* line 336, ../sass/screen.scss */
.four_across > *.last {
  margin-right: 0;
  padding-right: 0;
}
/* line 340, ../sass/screen.scss */
.four_across > *.right_float {
  margin-left: 20px;
  margin-right: 0;
  float: right;
  clear: none;
}
/* line 434, ../sass/screen.scss */
.four_across > *:nth-child(4n) {
  margin-right: 0;
  padding-right: 0;
}

/* line 443, ../sass/screen.scss */
.five_across > * {
  width: 104px;
  float: left;
  height: auto;
  margin-right: 20px;
}
/* line 336, ../sass/screen.scss */
.five_across > *.last {
  margin-right: 0;
  padding-right: 0;
}
/* line 340, ../sass/screen.scss */
.five_across > *.right_float {
  margin-left: 20px;
  margin-right: 0;
  float: right;
  clear: none;
}
/* line 446, ../sass/screen.scss */
.five_across > *:nth-child(5n) {
  margin-right: 0;
  padding-right: 0;
}

/* line 454, ../sass/screen.scss */
.redbotbor {
  border-bottom: 3px solid #bd1c2b;
  -webkit-box-shadow: 5px 5px 40px -7px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px 40px -7px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 40px -7px rgba(0, 0, 0, 0.1);
}

/* line 459, ../sass/screen.scss */
.redtext {
  color: #bd1c2b;
}

/* line 463, ../sass/screen.scss */
#navtainer {
  position: fixed;
  top: 50px;
  left: 0;
  width: 127px;
  padding: 20px;
  padding-left: 0;
  background: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 473, ../sass/screen.scss */
#navtainer img {
  width: 100px;
  float: right;
  clear: both;
  margin-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
}

/* line 482, ../sass/screen.scss */
#navlist {
  font-family: "myriad-pro";
  font-weight: 400;
  list-style-type: none;
  text-align: right;
  margin: 0;
  padding: 0;
  font-size: 1em;
}
/* line 490, ../sass/screen.scss */
#navlist li {
  margin: 0;
  margin-bottom: 0.7em;
  padding: 0;
  line-height: 1em;
}
/* line 496, ../sass/screen.scss */
#navlist ul {
  list-style-type: none;
  text-align: right;
  margin: 0;
  padding: 0;
  padding-right: 0.5em;
  margin-right: 0.5em;
  border-right: 1px dotted #e0e0e0;
}
/* line 505, ../sass/screen.scss */
#navlist a {
  text-decoration: none;
  color: #777777;
}
/* line 508, ../sass/screen.scss */
#navlist a:hover {
  color: #bd1c2b;
}
/* line 511, ../sass/screen.scss */
#navlist a.hover {
  color: #bd1c2b;
}
/* line 516, ../sass/screen.scss */
#navlist .current-menu-item a {
  color: #bd1c2b;
}

/* line 522, ../sass/screen.scss */
article {
  margin-top: 161px;
}

/* line 526, ../sass/screen.scss */
.pic_placeholder {
  background: black;
  height: 435px;
}

/* line 531, ../sass/screen.scss */
.picunitimg {
  -webkit-box-shadow: 5px 5px 40px -10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 5px 40px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 40px -10px rgba(0, 0, 0, 0.2);
}

/* line 536, ../sass/screen.scss */
.picunit {
  padding-bottom: 1em;
  margin-right: 0;
  padding-right: 20px;
}
/* line 540, ../sass/screen.scss */
.picunit img {
  border-bottom: 3px solid #bd1c2b;
  width: 100%;
  -webkit-box-shadow: 5px 5px 40px -10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px 40px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 40px -10px rgba(0, 0, 0, 0.1);
}
/* line 545, ../sass/screen.scss */
.picunit .caption {
  font-family: "myriad-pro";
  font-size: 0.7em;
  line-height: 1em;
  margin-top: 0.4em;
}
/* line 551, ../sass/screen.scss */
.picunit .hovertext {
  font-family: "myriad-pro";
  font-size: 0.9em;
  line-height: 1em;
  margin-top: 0.4em;
}

/* line 560, ../sass/screen.scss */
#slideshow {
  height: 320px;
  position: relative;
}
/* line 564, ../sass/screen.scss */
#slideshow:hover .arrowleft {
  opacity: 0.3;
}
/* line 567, ../sass/screen.scss */
#slideshow:hover .arrowright {
  opacity: 0.3;
}
/* line 571, ../sass/screen.scss */
#slideshow .counterbox {
  float: right;
  margin-right: -5px;
}
/* line 575, ../sass/screen.scss */
#slideshow .counter {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  -webkit-box-shadow: inset 1px 1px 6px -1px #959595;
  -moz-box-shadow: inset 1px 1px 6px -1px #959595;
  box-shadow: inset 1px 1px 6px -1px #959595;
  height: 20px;
  width: 20px;
  margin-right: 5px;
  float: left;
}
/* line 582, ../sass/screen.scss */
#slideshow .counter.active {
  background: #e0e0e0;
  -webkit-box-shadow: inset 1px 1px 6px #959595;
  -moz-box-shadow: inset 1px 1px 6px #959595;
  box-shadow: inset 1px 1px 6px #959595;
}
/* line 586, ../sass/screen.scss */
#slideshow .counter:hover {
  -webkit-box-shadow: inset 1px 1px 6px #959595;
  -moz-box-shadow: inset 1px 1px 6px #959595;
  box-shadow: inset 1px 1px 6px #959595;
}
/* line 590, ../sass/screen.scss */
#slideshow .arrowleft {
  height: 100px;
  width: 50px;
  z-index: 1;
  position: absolute;
  top: 40px;
  left: -10px;
  background: url("../images/largearrowleft.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  opacity: 0;
}
/* line 602, ../sass/screen.scss */
#slideshow .arrowleft:hover {
  opacity: 0.4;
}
/* line 605, ../sass/screen.scss */
#slideshow .arrowleft:active {
  opacity: 0.5;
  top: 41px;
}
/* line 610, ../sass/screen.scss */
#slideshow .arrowright {
  height: 100px;
  width: 50px;
  z-index: 1;
  position: absolute;
  top: 40px;
  right: -10px;
  background: url("../images/largearrowright.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  opacity: 0;
}
/* line 622, ../sass/screen.scss */
#slideshow .arrowright:hover {
  opacity: 0.4;
}
/* line 625, ../sass/screen.scss */
#slideshow .arrowright:active {
  opacity: 0.5;
  top: 41px;
}

/* line 633, ../sass/screen.scss */
.tipper {
  cursor: pointer;
}

/* line 637, ../sass/screen.scss */
.tip {
  z-index: 1;
  overflow: hidden;
}
/* line 640, ../sass/screen.scss */
.tip p {
  font-size: 0.9em;
}
/* line 643, ../sass/screen.scss */
.tip p.reg-message {
  font-size: 1em;
}

/* line 649, ../sass/screen.scss */
.principle, .faqunit {
  *zoom: 1;
  border-bottom: 1px solid #e0e0e0;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  height: 100%;
}
/* line 26, ../sass/screen.scss */
.principle h1, .faqunit h1, .principle h2, .faqunit h2, .principle h3, .faqunit h3, .principle h4, .faqunit h4, .principle h5, .faqunit h5, .principle h6, .faqunit h6 {
  font-family: "myriad-pro", sans-serif;
  line-height: 1.2em;
  margin: 0em 0 0.4em;
  padding: 0 0 0.1em;
}
/* line 38, ../../../../../../../home/jehan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.principle:after, .faqunit:after {
  content: "";
  display: table;
  clear: both;
}
/* line 656, ../sass/screen.scss */
.principle .number, .faqunit .number {
  float: left;
  width: 60px;
  height: 100%;
  text-align: center;
}
/* line 661, ../sass/screen.scss */
.principle .number h2, .faqunit .number h2 {
  color: #bd1c2b;
}
/* line 665, ../sass/screen.scss */
.principle .text, .faqunit .text {
  float: left;
  width: 90%;
}
/* line 668, ../sass/screen.scss */
.principle .text .collapsee, .faqunit .text .collapsee {
  font-size: 0.9em;
}
/* line 671, ../sass/screen.scss */
.principle .text div, .faqunit .text div {
  color: #959595;
  overflow: hidden;
}
/* line 678, ../sass/screen.scss */
.principle:hover .text div, .faqunit:hover .text div {
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  color: #777777;
}

/* line 686, ../sass/screen.scss */
.specunit {
  *zoom: 1;
  height: 100%;
}
/* line 26, ../sass/screen.scss */
.specunit h1, .specunit h2, .specunit h3, .specunit h4, .specunit h5, .specunit h6 {
  font-family: "myriad-pro", sans-serif;
  line-height: 1.2em;
  margin: 0em 0 0.4em;
  padding: 0 0 0.1em;
}
/* line 38, ../../../../../../../home/jehan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.specunit:after {
  content: "";
  display: table;
  clear: both;
}
/* line 690, ../sass/screen.scss */
.specunit .number {
  float: left;
  min-width: 60px;
  margin-top: -0.3em;
  text-align: center;
}
/* line 695, ../sass/screen.scss */
.specunit .number h1 {
  color: #bd1c2b;
  font-size: 3em;
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 703, ../sass/screen.scss */
.specunit .text div {
  color: #959595;
  overflow: hidden;
}
/* line 710, ../sass/screen.scss */
.specunit:hover .text div {
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  color: #777777;
}

/* line 720, ../sass/screen.scss */
.faqunit .triangle {
  cursor: pointer;
  float: left;
  width: 60px;
  text-align: center;
}
/* line 725, ../sass/screen.scss */
.faqunit .triangle .img {
  height: 35px;
  width: 35px;
  margin-left: auto;
  margin-right: auto;
}
/* line 732, ../sass/screen.scss */
.faqunit .triangle .img:before {
  font-size: 28px;
  color: #bd5862;
  content: "\25BA";
}
/* line 740, ../sass/screen.scss */
.faqunit .text h4 {
  cursor: pointer;
}
/* line 747, ../sass/screen.scss */
.faqunit.expanded .triangle .img:before {
  color: #bd1c2b;
  content: "\25BC";
}

/* line 756, ../sass/screen.scss */
.pressunit {
  padding-bottom: 1em;
  margin-top: 2em;
  border-bottom: 1px solid #e0e0e0;
}
/* line 26, ../sass/screen.scss */
.pressunit h1, .pressunit h2, .pressunit h3, .pressunit h4, .pressunit h5, .pressunit h6 {
  font-family: "myriad-pro", sans-serif;
  line-height: 1.2em;
  margin: 0em 0 0.4em;
  padding: 0 0 0.1em;
}
/* line 761, ../sass/screen.scss */
.pressunit h3 {
  margin-top: -0.4em;
}
/* line 764, ../sass/screen.scss */
.pressunit .picunit {
  margin-bottom: 0;
}
/* line 767, ../sass/screen.scss */
.pressunit.last {
  border-bottom: none;
}
/* line 770, ../sass/screen.scss */
.pressunit .one-fourth {
  margin-bottom: 0;
}
/* line 773, ../sass/screen.scss */
.pressunit .text {
  font-size: 0.9em;
  line-height: 1.3em;
}
/* line 776, ../sass/screen.scss */
.pressunit .text div {
  margin-top: 0.4em;
}

/* line 782, ../sass/screen.scss */
.realvid {
  margin-bottom: 40px;
}

/* line 786, ../sass/screen.scss */
.frontpage-top {
  padding-bottom: 0;
}

/* line 792, ../sass/screen.scss */
.twitbird {
  margin: -10px;
  width: 60px;
  background-image: url("../images/twitbird_gray.png");
  height: 60px;
  background-size: 100% 100%;
}
/* line 798, ../sass/screen.scss */
.twitbird:hover {
  background-image: url("../images/twitbird_red.png");
}

/* line 804, ../sass/screen.scss */
.newposts {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 808, ../sass/screen.scss */
.newposts > li {
  padding-top: 1em;
  font-family: sans-serif;
  padding-bottom: 1em;
  border-top: 1px solid #e0e0e0;
}
/* line 813, ../sass/screen.scss */
.newposts > li:first-child {
  border-top: none;
}
/* line 816, ../sass/screen.scss */
.newposts > li div {
  font-size: .9em;
  line-height: 1.3em;
}
/* line 820, ../sass/screen.scss */
.newposts > li h4 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 830, ../sass/screen.scss */
.tweet-list {
  font-family: sans-serif;
  padding-left: 0;
  margin-top: 0;
  line-height: 1.3em;
  font-size: 0.9em;
}
/* line 836, ../sass/screen.scss */
.tweet-list li {
  *zoom: 1;
  clear: none;
  position: relative;
  margin-top: 1.5em;
  padding-top: 1.5em;
  border-top: 1px solid #e0e0e0;
}
/* line 38, ../../../../../../../home/jehan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.tweet-list li:after {
  content: "";
  display: table;
  clear: both;
}
/* line 843, ../sass/screen.scss */
.tweet-list li.first {
  margin-top: 0;
  border-top: none;
}

/* line 850, ../sass/screen.scss */
.morelink {
  font-family: "myriad-pro";
  font-size: 0.9em;
  float: right;
}

/* line 856, ../sass/screen.scss */
.tweet-odd, .tweet-even {
  margin-top: 1em;
  padding-top: 1em;
}

/* line 863, ../sass/screen.scss */
.tweet-first {
  margin-top: 0;
  border-top: none;
}

/* line 868, ../sass/screen.scss */
.tweet-avatar {
  margin-right: 10px;
}

/* line 872, ../sass/screen.scss */
.tweet-time {
  color: #bd1c2b;
  font-size: 0.8em;
}

/* line 877, ../sass/screen.scss */
.tweet-text {
  display: block;
}

/* line 881, ../sass/screen.scss */
.tweet-avacase {
  height: 100%;
  display: inline-block;
  float: left;
}

/* line 887, ../sass/screen.scss */
.tweet-content {
  float: left;
  width: 85%;
}

/* line 894, ../sass/screen.scss */
form {
  font-family: "myriad-pro", sans-serif;
}

/* line 899, ../sass/screen.scss */
.contact-form #note_message {
  height: 200px;
  width: 100%;
}
/* line 903, ../sass/screen.scss */
.contact-form #submit_btn {
  clear: both;
  float: right;
}
/* line 907, ../sass/screen.scss */
.contact-form .identification {
  width: 40%;
  float: right;
  clear: left;
}
/* line 911, ../sass/screen.scss */
.contact-form .identification input, .contact-form .identification textarea, .contact-form .identification select {
  width: 100%;
}

/* line 925, ../sass/screen.scss */
.chromebutton {
  width: 5.5em;
  height: 5.5em;
  background-size: 5.5em 5.5em;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  background-image: url("../images/chrome-logo-gray.png");
  position: relative;
}
/* line 931, ../sass/screen.scss */
.chromebutton:hover:after {
  content: "Coming Soon";
  position: absolute;
  right: 0;
  bottom: 12%;
  font-family: "myriad-pro", sans-serif;
  font-size: 0.8em;
  padding: 0.1em 0.1em;
  border-radius: 2px;
  background: white;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 1;
}

/* line 947, ../sass/screen.scss */
.firefoxbutton {
  width: 5.5em;
  height: 5.5em;
  background-size: 5.5em 5.5em;
  background-repeat: no-repeat;
  background-position: center;
  float: right;
  clear: none;
  background-image: url("../images/firefox-logo-gray.png");
  position: relative;
}
/* line 954, ../sass/screen.scss */
.firefoxbutton:hover:after {
  content: "Coming Soon";
  position: absolute;
  right: 0;
  bottom: 12%;
  font-family: "myriad-pro", sans-serif;
  font-size: 0.8em;
  padding: 0.1em 0.1em;
  border-radius: 2px;
  background: white;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 1;
}

/* line 970, ../sass/screen.scss */
.firefoxbig {
  background-image: url("../images/firefox-logo-gray.png");
}

/* line 974, ../sass/screen.scss */
#bookmarklet {
  -webkit-box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f9f9f9));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
  background-image: linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
  color: transparent;
  text-decoration: none;
  height: 40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-bottom: 1em;
  position: relative;
  overflow: hidden;
  font-family: "myriad-pro", sans-serif;
  font-size: 1.5em;
  line-height: 40px;
  padding-left: 0.5em;
  cursor: move;
  display: block;
  border: 1px solid #959595;
  border-right: none;
}
/* line 993, ../sass/screen.scss */
#bookmarklet:before {
  content: "Bookmarklet";
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.9);
  position: absolute;
  color: #777777;
}
/* line 999, ../sass/screen.scss */
#bookmarklet:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-box-shadow: inset 0px 3px 5px -2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 3px 5px -2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 3px 5px -2px rgba(0, 0, 0, 0.1);
  content: "";
  position: absolute;
  top: 4px;
  right: -18px;
  width: 31px;
  height: 31px;
  background: white;
  border: 1px solid #959595;
}
/* line 1011, ../sass/screen.scss */
#bookmarklet:hover {
  -webkit-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(50%, #f4f4f4), color-stop(51%, #e2e2e2), color-stop(100%, #fdfdfd));
  background-image: -webkit-linear-gradient(top, #fefefe 0%, #f4f4f4 50%, #e2e2e2 51%, #fdfdfd 100%);
  background-image: -moz-linear-gradient(top, #fefefe 0%, #f4f4f4 50%, #e2e2e2 51%, #fdfdfd 100%);
  background-image: -o-linear-gradient(top, #fefefe 0%, #f4f4f4 50%, #e2e2e2 51%, #fdfdfd 100%);
  background-image: linear-gradient(top, #fefefe 0%, #f4f4f4 50%, #e2e2e2 51%, #fdfdfd 100%);
}
/* line 1014, ../sass/screen.scss */
#bookmarklet:hover:after {
  -webkit-box-shadow: inset 0px 5px 5px -2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 5px 5px -2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 5px 5px -2px rgba(0, 0, 0, 0.1);
}

/* line 1020, ../sass/screen.scss */
.button {
  display: inline-block;
  postion: relative;
  line-height: 1.1em;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f9f9f9));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
  background-image: linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
  cursor: pointer;
  font-family: "myriad-pro", sans-serif;
  font-size: 1em;
  text-decoration: none;
  padding-top: 0.4em;
  padding-bottom: 0.5em;
  padding-left: 0.9em;
  padding-right: 0.9em;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.9);
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  color: black !important;
  box-sizing: border-box;
  box-shadow: none;
}
/* line 1041, ../sass/screen.scss */
.button:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(50%, #f4f4f4), color-stop(51%, #e2e2e2), color-stop(100%, #fdfdfd));
  background-image: -webkit-linear-gradient(top, #fefefe 0%, #f4f4f4 50%, #e2e2e2 51%, #fdfdfd 100%);
  background-image: -moz-linear-gradient(top, #fefefe 0%, #f4f4f4 50%, #e2e2e2 51%, #fdfdfd 100%);
  background-image: -o-linear-gradient(top, #fefefe 0%, #f4f4f4 50%, #e2e2e2 51%, #fdfdfd 100%);
  background-image: linear-gradient(top, #fefefe 0%, #f4f4f4 50%, #e2e2e2 51%, #fdfdfd 100%);
  border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.45);
}
/* line 1045, ../sass/screen.scss */
.button:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcfcfc), color-stop(50%, #f3f3f3), color-stop(51%, #e1e1e1), color-stop(100%, #fbfbfb));
  background-image: -webkit-linear-gradient(top, #fcfcfc 0%, #f3f3f3 50%, #e1e1e1 51%, #fbfbfb 100%);
  background-image: -moz-linear-gradient(top, #fcfcfc 0%, #f3f3f3 50%, #e1e1e1 51%, #fbfbfb 100%);
  background-image: -o-linear-gradient(top, #fcfcfc 0%, #f3f3f3 50%, #e1e1e1 51%, #fbfbfb 100%);
  background-image: linear-gradient(top, #fcfcfc 0%, #f3f3f3 50%, #e1e1e1 51%, #fbfbfb 100%);
  -webkit-box-shadow: inset 0 0.15em 0.25em rgba(0, 0, 0, 0.15), 0 0.05em 0.1em rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 0 0.15em 0.25em rgba(0, 0, 0, 0.15), 0 0.05em 0.1em rgba(0, 0, 0, 0);
  box-shadow: inset 0 0.15em 0.25em rgba(0, 0, 0, 0.15), 0 0.05em 0.1em rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25);
}
/* line 1050, ../sass/screen.scss */
.button:focus {
  outline: 0;
  border: 1px solid #959595;
  -webkit-box-shadow: inset 1px 1px 6px -2px #959595;
  -moz-box-shadow: inset 1px 1px 6px -2px #959595;
  box-shadow: inset 1px 1px 6px -2px #959595;
}

/* line 1058, ../sass/screen.scss */
#register_form label {
  padding-bottom: 0.5em;
}
/* line 1061, ../sass/screen.scss */
#register_form input, #register_form textarea, #register_form select {
  display: block;
  width: 100%;
}
/* line 1065, ../sass/screen.scss */
#register_form .button {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  width: auto;
}

/* line 1071, ../sass/screen.scss */
input, textarea, select, textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear, box-shadow linear;
  -webkit-transition-delay: 0.2s, 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

/* line 1076, ../sass/screen.scss */
.donateform {
  border: none;
  outline: none;
}

/* line 1081, ../sass/screen.scss */
.buttonwrap {
  text-align: center;
  margin-bottom: 1em;
}

@media screen and (max-device-width: 800px) {
  /* line 1087, ../sass/screen.scss */
  #navtainer {
    position: absolute !important;
  }
}
